*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {

    background-position: center;
    background-size: cover;
    opacity: 0.7;
    background-size: 300% 300%;
  background-image: linear-gradient(-45deg, rgb(22, 42, 102) 0%, rgb(3, 20, 49) 25%, rgb(0, 255, 136) 51%, #09010c 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
          animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* for the ToggleDarkMode */
#groove{
    position:absolute;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    transition: 0.5s;
    background: #222;
    box-shadow: inset 0 8px 60px rgb(0,0,0,0.1),
                inset 0 8px 8px rgb(0,0,0,0.1), 
                inset 0 -4px 4px rgb(0,0,0,0.1), ;
    right: 0%;
    margin: 10px 5px 0px 0px;
    cursor: pointer;
    
    transform: translateY(-10px);
}
#slider{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #a8a8a8, #ffffff);
    transition: 0.5s;
    transform: scale(0.9);
    cursor: pointer;

}
body.active{
    background: rgb(20, 20, 19);
    background: radial-gradient(circle, rgb(49, 2, 9) 0%, rgb(0, 4, 3) 100%);
color: rgb(25, 29, 33);
    color: white;
}

#groove.active{
    background: #b3b3b3;
    box-shadow: inset 0 8px 60px rgb(0,0,0,0.1),
                inset 0 8px 8px rgb(0,0,0,0.1), 
                inset 0 -4px 4px rgb(0,0,0,0.1), ;
}
#groove.active #slider{
    transform: scale(1);
    background: linear-gradient(to bottom, #333333, #0f0f0f);
    left:30px;
}
/* dropDown menu */
header {
    position:relative;
    width: 100%;
    min-height: 70px;
    background-color: rgb(234, 230, 29) ;
    display: flex;
    align-items: center;
}
header nav ul{
    display: flex;
    list-style: none;
    position: absolute;
    right: 10px;
}
header ul li{
    position: relative;
}
header ul li a{
    color: rgb(156, 141, 141);
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    font-size: 1.1em;
    transition: 0.5s;
    color: black;
}
header ul li a:hover{
    color:brown;
    background-color: rgb(194, 172, 6);
    border-radius: 10px;
    box-shadow: 7px 7px rgb(84, 84, 162);
}

@media(max-width:750px){
  header{
      padding:10px 20px;
  }
  #groove{
      display: none;
  }
  header nav {
      position: absolute;
      width: 100%;
      top: 70px;
      left: 0;
      background-color: rgb(63, 151, 234);
      display: none;
  }
  header.drop nav{
      display: initial;
      z-index: 1;
    }
    header.signShow nav{
      display:none
    }
    .container{
        z-index: 2;
  }
  header nav ul{
      display: flex;
      flex-direction: column;
      height: 80vh;
      justify-content: center;
      align-items: center;
  }
  header ul li {
    height: 45px;
    width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: center;
}
  header ul li a{
      height: 45px;
      width: 100%;
      text-align: center;
  }
 
  .menuToggle{
      position: absolute;
      width: 40px;
      height: 50px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
      right: 0px;
  }
  .menuToggle::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #ffffff;
      transform: translateY(-12px);
      box-shadow: 0 12px white;
  }
  .menuToggle::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #ffffff;
      transform: translateY(12px);
  }
  header.drop .menuToggle::before{
      transform: rotate(45deg);
      box-shadow: 0 0;
  }
  header.drop .menuToggle::after{
      transform: rotate(315deg);
  }
}

.error{
    background-color: red;
    color: white;
}

/* container maintainance  */

.container form {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 30vh auto;
    transition: 0.5s;
    opacity: 0;
}
.container.showInModal form{
    opacity: 1;
}

form input{
    width: 100%;
}
#sports{
    width: 100%;

}
.container form:hover{
    box-shadow: 10px 10px 10px black;
}
.gender{
    display: flex;
    align-items: center;
}
#sport{
    width: 100%;
}
.container form input{
    height: 30px;
    border: 0px;
    border-bottom: 1px solid rgb(31, 166, 83);
}
::placeholder{
    color: black;
    font-weight: 500;
}
.container form input{
    background: rgb(243,251,63);
    background: radial-gradient(circle, rgba(243,251,63,1) 0%, rgba(39,156,127,1) 100%);
color: rgb(25, 29, 33);
}